<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="shimo" parallel="none">
	<test name="Desktop">
		<classes>
			<class name="test.testDesktop" />
			<class name="test.testAddCollaborator" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->